:root {
    --bg_main: #0a1f44;
    --text_light: #fff;
    --text_med: #53627c;
    --text_dark: #1e2432;
    --red: #ff1e42;
    --darkred: #c3112d;
    --orange: #ff8c00;
  }

* {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    text-align: center;
    left: auto;
    font-size: 16px;
    background-image: url(pata.jpg);
    background-position: 40% 0px;
    background-repeat: no-repeat;
}

/* Description */
.title {
    font-size: 3rem;
    padding-top: 20px;
    color: rgb(255, 75, 105);
}

.description {
    font-size: 1.3rem;
    padding-top: 20px;
}

/* Weather */
form {
    padding: 20px 0px;
}

input, button {
    border: none;
}

input {
    font-size: 1.2rem;
    background: none;
    outline: none;
    border-bottom: 1.5px solid;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.705);
}

button {
    font-size: 1rem;
    border-radius: 5px;
    padding: 5px 20px;
    margin-top: 10px;
    background-color: rgb(255, 75, 105);
    color: whitesmoke;
    cursor: pointer;
}

.section-1 span {
    padding: 8px;
    border-radius: 3px;
}

/* Section 2 - Weather Icons and Box */
.section-2 {
    margin: 70px 0 20px;
}

.section-2 .cities {
    display: grid;
    grid-gap: 32px 20px;
    grid-template-columns: 1fr 1fr;
    padding: 0 200px;
} 

.section-2 .city {
    position: relative;
    padding: 40px 5%;
    border-radius: 15px;
    background: rgb(217, 237, 255);
    color: rgb(83, 98, 124);
}
  
.section-2 .city::after {
    content: '';
    width: 90%;
    height: 50px;
    position: absolute;
    bottom: -12px;
    left: 5%;
    z-index: -1;
    opacity: 0.3;
    border-radius: 20px;
    background: rgba(236, 110, 26, 0.822);
}
  
.section-2 figcaption {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
  
.section-2 .city-temp {
    font-size: 5rem;
    font-weight: bold;
    margin-top: 10px;
    color: rgb(30, 36, 50);
}
  
.section-2 .city sup {
    font-size: 0.5em;
}
  
.section-2 .city-name sup {
    padding: 0.2em 0.6em;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    background: rgb(255, 140, 0);
}
  
.section-2 .city-icon {
    margin-top: 10px;
    width: 100px;
    height: 100px;
}

/* Footer */
footer {
    position: absolute;
    bottom: 0;
    height: 2.5rem;
    width: 100%;
    background-color: rgb(223, 238, 241);
    
}

small span {
    color: rgb(255, 56, 89);
}